:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #2b7fff;
  --color-white: #fff;
  --color-grey: #4a4a4a;
  --color-black: #000;
  --color-background: linear-gradient(
    38deg,
    rgba(43, 127, 255, 0.2) 39.74%,
    rgba(43, 127, 255, 0) 54.16%,
    rgba(43, 127, 255, 0) 66.66%
  );
}

/* Base */
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 37px;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  max-width: 1488px;
  margin: 0 auto;
}

body {
  color: var(--color-primary-dark);
  background: var(--color-background);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.address {
  font-style: normal;
}

/* Headings */
h1,
h2,
h3 {
  font-family: 'Play', sans-serif;
}

/* Button */
.button {
  font-family: inherit;
  padding: 16px 32px;
  color: var(--color-white);
  font-weight: 600;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  cursor: pointer;

  /* Увеличиваем кнопку */
  font-size: 18px;
}

.button:hover {
  color: var(--color-primary-light);
  background-color: transparent;
}

/* Link */
.header-nav .link {
  color: var(--color-primary-dark);
  font-family: Roboto;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  text-decoration: none;
}

.link:hover {
  color: var(--color-primary-light);
}

.header-nav .link .accent {
  color: var(--color-primary-light);
  font-weight: 700;
  display: inline-block;
  align-items: center;
}

/* Header */

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 240px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 56px;
}

.header-menu {
  display: flex;
  gap: 64px;
}

/* Hero section */
.hero-section {
  padding: 125px 205px 14px 205px;
  text-align: left;
  background-image: url('../images/hero-section-background.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: left;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81;
  font-style: normal;
  margin-bottom: 40px;
}

.hero-tagline {
  color: var(--color-primary-dark);
  font-size: 18px;
  font-weight: 400;
}

/* Advantages section */
.advantages-list {
  background-color: var(--color-white);
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  color: var(--color-grey);
  text-align: center;
  font-family: Roboto sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  width: 238px;
  margin-top: 14px;
}

.advantages-subtitle {
  color: var(--color-grey);
  font-size: 12px;
}

/* Section title */
.section-title {
  color: var(--color-primary-dark);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 40px;
  margin-top: 163px;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-primary-light);
  font-weight: 700;
}

.section-title-wrapper {
  position: relative;
}

.section-title-star::after {
  content: '';
  position: absolute;
  top: 993px;
  left: 958px;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-30deg);
  width: 64px;
  height: 64px;
}

.aboutus-container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  position: relative;
}

.aboutus-content {
  max-width: 709px;
}

.aboutus-image {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 335px;
}

.aboutus img {
  width: 100%;
  height: 328px;
  flex-shrink: 0;
}

.aboutus-tittle {
  margin-bottom: 40px;
  margin-top: 37px;
}

.section-subtitle {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 22px;
  line-height: 1.7;
  font-weight: 400;
  color: var(--color-primary-dark);
}

.whyus-title {
  max-width: 432px;
  margin: 0 auto 48px;
}

.whyus-subtitle {
  padding: 24px 32px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--color-black);
  border-radius: 32px;
  background-color: var(--color-white);
}

.whyus-section {
  padding-top: 48px;
  padding-bottom: 56px;
}

.whyus-list {
  width: 100%;
  display: flex;
  gap: 56px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.whyus-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: calc((100% - 112px) / 3);
  flex-grow: 0;
  flex-shrink: 0;
}

.whyus-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
  background-color: var(--color-white);
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
}

.whyus-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}

/* Section text */
.section-text span {
  color: var(--color-primary-dark);
}

.section-text .accent {
  color: var(--color-primary-dark);
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 40px;
}

.section-text.limited {
  max-width: 709px;
}

/*  Заголовок Why Us  */
.whyus-text {
  color: var(--color-black);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

/* Procedurs title */
.procedures-title {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.procedures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.procedures-item {
  flex-basis: calc((100%-32px) / 3);
}

.procedure-card {
  height: 456px;
  border-radius: 120px 4px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    var(--color-primary-dark) 101.39%
  );
  padding: 16px;
  padding-bottom: 32px;
  text-align: center;
}

.form-section {
  background-color: var(--color-primary-dark);
}

.form-title {
  color: var(--color-white);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-title .accent {
  color: var(--color-primary-light);
}

/* Footer */
.footer {
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-white);
}

.footer-nav a {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer-nav a:hover {
  color: var(--color-white);
  text-decoration: none;
}

.address-link {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-primary-light);
  text-decoration: underline;
}

.address-copyright {
  font-size: 13px;
  line-height: normal;
}
